<h1>Github Public Search</h1>
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>
<% if @response %>
  Total: <%= @response['total_count'] %>
  <% @response['items'].each { |item| %>
  url: <%= item['html_url'] %>
  <br />
  <%  } %>
<% end %>
